/*nav*/
.navAcademia {
    grid-area: navAcademia;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        margin-top: 30px;
        width: 100%;
        display: flex;
    }
    li {
        list-style: none;
        padding: 30px;
        height: 0px;
        text-align: center;
        &:hover{
            background-color: rgb(18, 47, 48)
        }
    }
}

nav a {
    color: white;
}

.navAcademia li:hover {
    background-color: rgb(18, 47, 48)
}
.navIndex {
    grid-area: navIndex;
}
